{% extends 'base.html' %}
{% block content %}
<form action="{% url 'school:send_email' %}" method="post">
    {% csrf_token %}
    <div class="mb-3">
        <label for="exampleFormControlInput1" class="form-label">Subject</label>
        <input type="text" class="form-control" name="subject" id="exampleFormControlInput1" placeholder="Subject">
    </div>
    <div class="mb-3">
        <label for="exampleFormControlTextarea1" class="form-label">Message</label>
        <textarea class="form-control" name="message" id="exampleFormControlTextarea1" rows="3"></textarea>
    </div>
    <input type="submit" name="Submit" id="submit">
</form>

{% endblock content %}
